.sayHello{
    width: 1440px;
    height: 600px;
    background: rgb(235, 235, 235);
    }
    .color{
        background: rgb(28, 210, 241);
    }
    .sayHello-text{
        font-size: 35px;
        font-weight:600;
        text-align: center;
        position: relative;
        top: 85px;
    }
    .shopno{
        width: 80px;
        height: 30px;
        border: 4px solid black;
        position: relative;
        top: 40px;
        left: 80px;
        
    }
    .shopnoSpan{
     color: rgb(28, 210, 241);
    }
    .textShopno{
        font-size: 15px;
        text-align: center;
        position: relative;
        bottom: 6px;
    }
    .sayHelloButton{
        text-align: center;
        position: relative;
        top: 160px;
    }
    .knopka{
        width: 130px;
        height: 30px;
        font-size: 15px;
        background:rgb(235, 235, 235);
    }
    .vanizobr{
        position: relative;
        left: 1000px;
        top: 165px;
    }
    .aboutUS{
        width: 1440px;
    height: 800px;
    background: rgb(247, 244, 244);
    }
    .nachalo{
        position: relative;
        top: 80px;
        text-align: center;
        font-size: 25px;
        margin:0;
    }
    .nachaloMaketov{
        font-weight: 600;
    }
    .twooIzobr{
        position: relative;
        top: 120px;
        left: 140px;
    
    }
    .aboutUsText{
        position: relative;
        top: 127px;
        float:right;
        margin-right: 300px;
        font-size: 20px;
    }
    .aboutUseSpan{
        font-weight: 600;
    }
    .featured{
        width: 1440px;
        height: 900px;
        background:white;
    }
    .pict{
        display:block;
        margin-left: 200px;
        margin-top: 140px;
        left:50px;
    }
    .ourService{
        width: 1440px;
    height: 1200px;
    background: rgb(235, 235, 235);
    }
    .pictOurService{
        display:block;
        margin-left: 200px;
        margin-top: 140px;
        left:50px;
    }
    .designIsTheCool{
    width:500px;
    height:300px;
    background: rgb(28, 210, 241);
    }
    .ourVanText{
        position: relative;
      left: 25px;
      top: 25px;
    }
    .TextKartTwoo{
        position: relative;
        left: 530px;
        bottom: 370px;
    }
    .kart{
        position: relative;
        bottom: 165px;
        left: 505px;
    }
    .izobrNaKartFree{
        position: relative;
        top: 5px;
    }
    .TextKartFree{
        position: relative;
        left: 25px;
        bottom: 200px;
    }
    .izobrNaKartFor{
        position: relative;
        bottom: 440px;
        left: 505px;
    }
    .TextKartFor{
        position: relative;
        left: 25px;
        bottom: 210px;
    }
    .izobrNaKartFive{
        position: relative;
        bottom: 390px;
        bottom: 583px;
    }
    .TextKartFive{
        position: relative;
        left: 25px;
        bottom: 200px;
    }
    .izobrNaKartSix{
        position: relative;
        bottom: 1048px;
        left: 355px;
    }
    .TextKartFSix{
        position: relative;
        left: 25px;
        bottom: 200px;
    }
    .ssylka{
        text-decoration: none;
        color: black;
    }
    .smallTeam{
        width: 1440px;
        height: 1100px;
        background:white;
        position: relative;
        bottom: 1120px;
        }
        .pictSmall{
            display:flex;
        margin-left: 200px;
        margin-top: 140px;
       
        }
    .smallTeamTwo{
        display: flex;
        margin-left: 200px;
        bottom: 123px;
        position: relative;
    }
    .chellVan{
        position: relative;
        margin-left: 5px;
    }
    .smallTeamText{
        position: relative;
        bottom: 200px;
        text-align: center;
    }
    .alRayhan{
        font-weight: 600;
    }
    .WhatTheySays{
        width: 1440px;
        height: 650px;
        background:rgb(235, 235, 235);
    }
    .kvadr{
        position: relative;
        width: 310px;
        height: 300px;
        background: rgb(187, 185, 185);
        margin-left: 200px;
        top: 153px;
    }
    .chel{
        position: relative;
        left: 220px;
        bottom: 190px;
    }
    .okno{
        position: relative;
        width: 600px;
        height: 300px;
        background: rgb(187, 185, 185);
        bottom:555px;
        left: 550px;
    
    }
    .oknoText{
        position: relative;
    text-align: center;
    top: 50px;
    }
    .zvezda{
        position: relative;
        top: 80px;
        text-align: center;
    }
    .ButtonVan{
        position: relative;
        left: 1080px;
        bottom: 128px;
    }
    .ButtonTwoo{
        position: relative;
        left: 1120px;
        bottom:  158px;
    }
    .whatTheyButton{
        background:rgb(28, 210, 241);
        width: 30px;
        height: 30px;
    }
    .forma{
        width: 570px;
        height: 370px;
        background:rgb(75, 89, 99);
        opacity: 0.8;
        position: relative;
        left: 200px;
        bottom: 600px;
    }
    /* .name{
        width: 500px;
        background:rgb(75, 89, 99);
        opacity: 0.8;
        color:black;
        font-size: 20px;
        position: relative;
        left: 30px;
        top: 20px;
        margin: 10px;
    }
    .masage{
        width: 500px;
        height: 70px;
        background:rgb(75, 89, 99);
        opacity: 0.8;
        color:black;
        font-size: 20px;
        position: relative;
        left: 40px;
       top: 30px;
    } */
    .name{
        width: 500px;
        height: 40px;
        border: 1px solid white;
     border-right: 5px;
     position: relative;
     border-right-width: 0px;
     border-left-width: 0px;
     border-top-width:0px ;
     left: 20px;
     top: 20px;
     color: white;
    }
    .subject{
        width: 500px;
        height: 40px;
        border: 1px solid white;
     border-right: 5px;
     position: relative;
     border-right-width: 0px;
     border-left-width: 0px;
     border-top-width:0px ;
     left: 20px;
     top: 20px;
     color: white;
    }
    .e-mail{
        width: 500px;
        height: 40px;
        border: 1px solid white;
     border-right: 5px;
     position: relative;
     border-right-width: 0px;
     border-left-width: 0px;
     border-top-width:0px ;
     left: 20px;
     top: 20px;
     color: white;
    }
    .massage{
        width: 500px;
        height: 80px;
        border: 1px solid white;
     border-right: 5px;
     position: relative;
     border-right-width: 0px;
     border-left-width: 0px;
     border-top-width:0px ;
     left: 20px;
     top: 20px;
     color: white;
    }
    .string{
        position: relative;
        top:10px;
    }
    .sendMessage{
        width: 200px;
        height: 45px;
        background:rgb(28, 210, 241);
        position: relative;
        left: 20px;
        top: 40px;
    }
    .FormAddress{
        width: 370px;
        height: 370px;
        background:rgb(75, 89, 99);
        opacity: 0.8;
        position: relative;
        left: 590px;
        bottom: 313px;
    }
    .FormAddressText{
        position: relative;
        color: white;
        left: 20px;
        top: 20px;
    }
    .karta{
        position: relative;
        bottom: 810px;
        left: 800px;
    }
    .podval{
        position: relative;
        width: 1440px;
        height:200px;
        background: rgb(42, 46, 49);
        bottom: 740px;
    }
    .podvalText{
        text-align: center;
        color: white;
        position: relative;
        top: 40px;
    }
    .messenger{
        text-align: center;
        position: relative;
        top: 50px;
    }
    .copyright{
        text-align: center;
        color: white;
        position: relative;
        top: 50px;
    }